.header {
 background: url("https://upload.cc/i/9fQUgG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1.logo {
  font-family: "signpainter";
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 1;
  font-size: 28px;
  font-align: center;
}
.header h1.logo a {
  color: #fff;
}

.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 5px;
}

.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

#sidebar
{    float: left;
    width: 20%;
    background: none;
    min-height: 100%;
}

.maps {
  float: center;
    max-width: 70%;
  display: block;
    margin: 10px auto;
  margin-bottom: 5px;
  margin-top: 20px;
}
.ma2 {
    max-width: 100%;
  max-height: 100%;
  display: block;
    margin: 5px auto;
  margin-bottom: 100px;
  margin-top: 15px;
}

#box {
background: rgba(080,080,080,0.1);
  padding: 1%;
  margin: 15px auto;
  
}

.buttonArea {
  margin: 20px auto;
  margin-top: 5px;
  text-align: center;
}

.fakeButton {
background: #023e59; 
background: -webkit-linear-gradient(to left, #085f75, #034260, #035355); 
background: linear-gradient(to left, #085f75, #034260, #035355); 
  padding: 8px 55px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fakeButton:hover {
  background: #1b788e;
  color: #fff;
  text-decoration: none;
}

.fakeButton2 {
background: #023e59; 
background: -webkit-linear-gradient(to left, #085f75, #034260, #035355); 
background: linear-gradient(to left, #085f75, #034260, #035355); 
  padding: 8px 55px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  margin: 20px;
  margin-top: 20px;
}

.fakeButton2:hover {
  background: #1b788e;
  color: #fff;
  text-decoration: none;
}
#container{
  max-width:80%;
  margin: 5px auto;
  margin-bottom: 5px;
  max-height:80%;
}
#container img
{
  max-width:70%; 
  margin:1% auto;
  display:block;
}